<header id="layout-header">

    <nav>
        <div id="logo">
            <h4>
                <a href="/"><span>Tu</span>gas</a>
            </h4>
        </div>
    </nav>    
    <!-- Heading -->
    <section id="head">
        <div id="heading">
            <h1 id="text-heading">
                <i class="fas fa-tasks"></i>
                Tugas: Your Personalized Task Manager!!
            </h1>
        </div>
    </section>

</header>